@theme "/nix/store/0md3m585qk0pyfy0rz4aad5q075vsklm-rofi-1.7.5+wayland1/share/rofi/themes/Arc-Dark.rasi"

element-icon {
    size: 3.5ch;
}

/* Rounded edges */
window {
    border-radius: 15px;
}

/* Remove "drun" from the search box */
inputbar {
    children: [ entry ];
}
