@theme "/nix/store/wx58rghmqg9qq3ghlgd4q6118ah74563-rofi-1.7.5+wayland3/share/rofi/themes/Arc-Dark.rasi"

element-icon {
    size: 3.5ch;
}

/* Rounded edges */
window {
    border-radius: 15px;
}

/* Remove "drun" from the search box */
inputbar {
    children: [ entry ];
}
